<footer class="container mt-5 border-top border-warning">
   <div class="row">

     <div class="col-12 col-md-6 col-lg-3 p-0">
       <img class="img-fluid" src="/logo.jpg">
     </div>

     <div class="col-12 col-md-6 col-lg-4 pt-3">
       <% books.forEach(function(book,index){ %>
         <h4 class="text-warning"><a class="text-reset text-decoration-none" href="/book/<%= book.name %>/<%= book.order %>"><i class="bi bi-<%= book.icon %> align-text-top fs-5"></i> <%= book.title %>&nbsp;&raquo;</a></h4>
         <ul class="list-unstyled">
           <!-- <li><a class="link-primary fs-5 text-decoration-none" href="/book/<%= book.name %>/<%= book.order %>">Book Home&nbsp;&raquo;</a></li> -->
           <li><a class="fw-light text-light text-decoration-none" href="/book/<%= book.name %>/toc/<%= book.order %>">Table Of Contents&nbsp;&raquo;</a></li>
           <% book.links.forEach(function(entry){ %>
             <li><a class="fw-light text-light text-decoration-none" href="<%= entry.href %>"><%= entry.name %> <i class="bi bi-link-45deg text-warning align-text-bottom"></i></a></li>
           <% }) %>
         </ul>
       <% }) %>
     </div>

     <div class="col-12 col-md-12 col-lg-5 pt-3">
       <h5 class="text-warning mb-0"><%= website %></h5>
       <small class="d-block text-muted mb-2"><%= tagline %></small>

       <ul class="list-unstyled text-small mb-3 ">
         <li><a class="fw-light text-light text-decoration-none" href="/"><i class="bi bi-house-door text-warning align-text-bottom"></i> Home Page</a></li>
         <li><a class="fw-light text-light text-decoration-none" href="/sitemap"><i class="bi bi-globe text-warning align-text-bottom"></i> Map</a></li>
       </ul>

       <h5 class="text-warning">Network</h5>
       <ul class="list-unstyled text-small">
         <% network.forEach(function(entry){ %>
           <li><a class="fw-light text-light text-decoration-none" href="<%= entry.href %>"><i class="bi bi-<%= entry.icon %> align-text-bottom text-warning"></i> <%= entry.name %></a></li>
         <% }) %>
       </ul>

       <a href="#top" class="my-2 d-block text-warning"><i class="bi bi-arrow-90deg-up"></i> <span class="">Top</span></a>

     </div>
   </div>

 </footer>
