<a name="top"></a>
<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-lg mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= website %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

      <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"><i class="bi bi-house-door align-text-bottom text-warning"></i> Home</a>
        </li>

        <% books.forEach(function(book,index){ %>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/book/<%= book.name %>/<%= book.order %>"><i class="bi bi-<%= book.icon %> align-text-bottom text-warning"></i> <%= book.title %></a>
          </li>
        <% }) %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/sitemap"><i class="bi bi-globe align-text-bottom text-warning"></i> Site Map</a>
        </li>



      </ul>

    </div>
  </div>
</nav>
