
  <% if(pagination.pageFirst){ %>
    <div class="container mb-5">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 text-light"><%= pageName %></h1>
        <p class="small text-light fw-light">
          <%= pageDescription %>
        </p>
      </div>
    </div>
  <% } %>

 <% if(alert && pagination.pageFirst){ %>
   <div class="container">
     <div class="row">
       <div class="col p-4">
         <div style="background-color: transparent;" class="card text-info border-warning mb-3">
           <div class="card-body">
             <p class="card-text small"><i class="bi bi-receipt text-warning"></i>
               <%- alert %>
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>
 <% } %>


  <div class="container mb-5">
    <div class="row my-5">
      <div class="col">
        <nav aria-label="Page Navigation">
          <ul class="pagination pagination-lg">
            <% if(!pagination.pageLast){ %><li class="page-item"><a class="page-link bg-dark text-white border-warning" href="/browse/<%= pagination.pageOlder %>">&laquo;&nbsp;Older</a></li><% } %>
            <% if(!pagination.pageFirst){ %><li class="page-item"><a class="page-link bg-dark text-white border-warning" href="/browse/<%= pagination.pageNewer %>">Newer&nbsp;&raquo;</a></li><% } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>



  <% if(pagination.pageFirst){ %>
    <div class="container mb-5">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="text-info">
          <small><i class="bi bi-info-circle-fill"></i> Home Page shows a mix of all entries from all books, latest first.</small>
        </p>
        <p class="text-info">
          <small><i class="bi bi-info-circle-fill"></i> <span class="fw-light">Service or hosting interruptions will be resolved in under 24 hours.</span></small>
        </p>
      </div>
    </div>
  <% } %>
