
              <!-- <p class="card-text small">

                On the Poetry end <a href="/read/furkies-purrkies/317" class="text-reset">One</a> is a neat example of an abstract poem that reads well.

                Small poems like <a href="/read/furkies-purrkies/220" class="text-reset">The Owl</a> (one of my favorites) look perfect, same for <a href="/print/furkies-purrkies/220" class="text-reset">print mode</a>.

                The multi photo <a href="/read/furkies-purrkies/131" class="text-reset">Winter Adventures</a> looks good as well, all the pictures have their own boxes.

                And the link heavy <a href="/read/furkies-purrkies/42" class="text-reset">I Miss Old Programming Languages</a> is as neat as it gets, visited links will turn from rust-orange color to gray-yellow once clicked.

              </p>

              <p class="card-text small">
                On the Video end the focus is on videos, so text is smaller. <a href="/read/westland-warrior/68" class="text-reset">The Hacker</a> is perfectly readable and the links stand out really well (Poor Stephen, I can't believe they laughed at him for saying he invented a new science, this is a cruel world for nerds.).
                Play buttons and page sections (ex. Bill Bryson or Stoicism) stick out great in <a href="/read/westland-warrior/15" class="text-reset">The Philosopher</a>. And it all works well on Phones, Tablets and Desktops.
              </p> -->

              <!-- <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i> I updated the way poems are displayed, I am not sure it it works with all poems, I will fix whatever is broken. Even is something is off, I added print mode to each page, where everything is perfectly readable. See <a href="/read/furkies-purrkies/119" class="text-reset">Finding The Northern Part Of The I-275 Bicycle Trail</a> for an example (squint and click <a href="/print/furkies-purrkies/119" class="text-reset">Printer Friendly</a> to see the blinding version).</p> -->

              <!-- <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i> The <a href="/sitemap" class="text-reset">new sitemap</a> lists links in both poems and warrior's video pages now, <a href="/sitemap#westland-warrior-the-cryptographer" class="text-reset">The Cryptographer</a> is a nice example.</p> -->

              <!-- <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i> <a href="/book/furkies-purrkies/toc/latest" class="text-reset">Table of Contents for Furkies Purrkies</a> shows both links and any extra images contained within the poem, <a href="/book/furkies-purrkies/toc/latest#furkies-purrkies-poetry-0119" class="text-reset">Finding The Northern Part Of The I-275 Bicycle Trail</a> is a good example.</p> -->


              <% if(!post.title.match(/ by /)){ %>
              <!-- <div style="padding-bottom: 5rem;">
                <small><%= post.timestamp %></small>
              </div>
              <% } %> -->
              <!-- <div class="container">
                <div class="row">
                  <div class="col p-4">

                    <div class="card text-info bg-dark mb-3">
                      <div class="card-header"><i class="bi bi-newspaper align-text-bottom"></i> Temporary News Bites</div>
                      <div class="card-body">


                        <p class="card-text small"><i class="bi bi-receipt align-text-bottom text-light"></i>
                          The Printer Friendly pages for poetry work nicely now, there is a cover page and a link references page that will always print separately so that the texts of my long-winded poems are stand-alone.
                          But it makes no sense to print out video pages, it can be done as an art project, perhaps printing out film-strips of videos, but printing video-pages won't be so useful, in reality.
                          <br>
                          <br>
                          The real poetry print layout is only available for viewing in print-preview/print-to-file.
                          Even though it is a page meant for printing, it still has to be styled for the browser, as it looks ugly when styled for the printer and shown on the screen.
                          So, even though it looks all white and text friendly, it is still made for the browser, and the pretty print layout is seen in print preview and on paper.
                          It wasn't hard to make, but it is not as simple as stripping-off colors and graphics.
                          <br>
                          <br>
                          As to links, I still wanted to display them when printing on paper, somehow. So I borrowed the Wikipedia way, I marked all the links with numbers, and then made a little lookup table on the bottom.
                          Printing the web addresses next to the links was distracting and messed with layout.
                          You can take a look at the link rich <a href="/print/furkies-purrkies/42" class="text-reset">I Miss Old Programming Languages</a> for a worst possible scenario (note the link-mess on the bottom).
                          And check out <a href="/print/furkies-purrkies/318" class="text-reset">By Subtle Analogy</a> and <a href="/print/furkies-purrkies/60" class="text-reset">Big Things</a> for something more reasonable.
                        </p>

                      </div>
                    </div>


                  </div>
                </div>
              </div> -->
