<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.html', {}); %>
  </head>
  <body>
  <%- include('partials/nav.html', {}); %>

  <% if(pagination.pageFirst){ %>
    <div class="container mb-5">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 text-light"><%= pageName %></h1>
        <p class="small text-light fw-light">
          <%= pageDescription %>
        </p>
      </div>
    </div>
  <% } %>

  <main class="container">

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% posts.forEach(function(post,index){ %>
        <div class="col">
         <div class="card bg-dark text-white shadow mb-5">
           <% if(post.image){ %><a href="/read/<%= post.bookName %>/<%= post.number %>"><img src="/image/lg-<%= post.image %>" class="card-img-top" alt="<%= post.title %>"></a><% } %>

           <div class="card-body">
             <a href="/read/<%= post.bookName %>/<%= post.number %>" class="text-decoration-none"><h5 class="card-title text-warning"><%= post.bookTitle %> #<%= post.number %>: <%= post.title %></h5></a>
             <p class="card-text small"><%= post.text %></p>
           </div>

           <div class="card-body">
             <% if(post.audio){ %><a href="/audio/<%= post.audio %>" class="btn btn-warning"><i class="bi bi-play-circle align-text-bottom"></i> Listen</a><% } %>
             <a href="/read/<%= post.bookName %>/<%= post.number %>" class="btn btn-outline-warning"><i class="bi bi-eye align-text-bottom"></i> View</a>
              <% if(post.links.length){ %><a href="/read/<%= post.bookName %>/<%= post.number %>#references" title="Contains Links or References" class="btn btn-outline-info float-end"><i class="bi bi-info-circle-fill"></i> <span class="badge bg-info text-dark"><i class="bi bi-link-45deg"></i> <%= post.links.length %></span></a><% } %>
           </div>

           <div class="card-footer text-muted small">
             <%= post.timestamp %>
           </div>
         </div>
       </div>
      <% }); %>
    </div>

  </main><!-- /.container -->


  <div class="container mb-5">
    <div class="row my-5">
      <div class="col">
        <nav aria-label="Page Navigation">
          <ul class="pagination pagination-lg">
            <% if(!pagination.pageLast){ %><li class="page-item"><a class="page-link bg-dark text-white border-warning" href="/browse/<%= pagination.pageOlder %>">&laquo;&nbsp;Older</a></li><% } %>
            <% if(!pagination.pageFirst){ %><li class="page-item"><a class="page-link bg-dark text-white border-warning" href="/browse/<%= pagination.pageNewer %>">Newer&nbsp;&raquo;</a></li><% } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>



  <% if(pagination.pageFirst){ %>
    <div class="container mb-5">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="text-info">
          <small><i class="bi bi-info-circle-fill align-text-bottom"></i> Home Page shows a mix of all entries from all books, latest first.</small>
        </p>
        <p class="text-info">
          <small><i class="bi bi-info-circle-fill align-text-bottom"></i> <span class="fw-light">Service or hosting interruptions will be resolved in under 24 hours.</span></small>
        </p>
      </div>
    </div>
  <% } %>


  <%- include('partials/footer.html', {}); %>
  <%- include('partials/foot.html', {}); %>

  </body>
</html>
