<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.html', {}); %>
  </head>
  <body class="pt-5">
  <!-- <%- include('partials/nav.html', {}); %> -->

  <main class="container">

    <div class="row">


      <div class="col">
          <% posts.forEach(function(post, index){ %>



              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <a href="/read/<%= post.pageCounter %>"><img src="/image/lg-<%= post.image %>" class="card-img-top" alt="<%= post.title %>"></a>
                  </div>
                  <div class="col-md-8">

                    <div class="card-body">
                      <a href="/read/<%= post.pageCounter %>" class="text-decoration-none"><h5 class="card-title text-warning">#<%= post.pageCounter+1 %>: <%= post.title %></h5></a>
                      <p class="card-text small"><%= post.text %></p>
                      <% if(post.audio){ %><a href="/audio/<%= post.audio %>" class="btn btn-warning">Listen</a><% } %>
                     <a href="/read/<%= post.pageCounter %>" class="btn btn-outline-warning">Read</a>
                    </div>

                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">&laquo; postFirst =  <%= post.postFirst %></a></li>
                        <li class="page-item"><a class="page-link" href="#">&laquo; postLast =  <%= post.postLast %></a></li>
                        <li class="page-item"><a class="page-link" href="#">&laquo; postNewer =  <%= post.postNewer %></a></li>
                        <li class="page-item"><a class="page-link" href="#">Current = <%= post.postCounter %></a></li>
                        <li class="page-item"><a class="page-link" href="#">postOlder = <%= post.postOlder %> &raquo;</a></li>
                      </ul>
                    </nav>

                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">&laquo; pageCounter =  <%= post.pageCounter %></a></li>
                        <li class="page-item"><a class="page-link" href="#">&laquo; pageFirst =  <%= post.pageFirst %></a></li>
                        <li class="page-item"><a class="page-link" href="#">&laquo; pageLast =  <%= post.pageLast %></a></li>
                        <li class="page-item"><a class="page-link" href="#">&laquo; pageNewer =  <%= post.pageNewer %></a></li>
                        <li class="page-item"><a class="page-link" href="#">Current = <%= post.pageCounter %></a></li>
                        <li class="page-item"><a class="page-link" href="#">pageOlder = <%= post.pageOlder %> &raquo;</a></li>
                      </ul>
                    </nav>

                    <!-- <div class="card-footer text-muted small">
                      <%= post.timestamp %>
                    </div> -->

                  </div>
                </div>
              </div>






          <% }); %>
        </div>


    </div>





  </main><!-- /.container -->

  <%- include('partials/foot.html', {}); %>
  </body>
</html>
