<!doctype html>
<html lang="en">
<head>
  <link media="print" rel="stylesheet" href="/print/gutenberg.css">
  <link media="print" rel="stylesheet" href="/print/themes/modern.css"> <!-- optional -->
  <style media="print">
    /* fixes for the gutenberg.css */
    body { text-align: initial; }
    .title-page {
      text-align: center;
    }
  </style>
</head>
<body>
  <main>
    <h1><%= post.title %></h1>

    <div class="title-page break-after" style="padding-bottom: 5rem;">
      <% if(post.image){ %>
      <img style="display: inline;" src="/image/md-<%= post.image %>" alt="<%= post.title %>" title="<%= post.title %>">
      <% } %>
    </div>

    <div class="section avoid-break-inside" style="padding-bottom: 2rem;">
      <div class="paragraph" style="font-weight: bold;"><%= post.title %></div>
    </div>

    <%- post.print %>

  </main>
</body>
</html>
