<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.html', {}); %>
  </head>
  <body>

  <%- include('partials/nav.html', {}); %>


    <div class="container mb-5">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-light">
        <h1 class="display-4"><%= pageName %></h1>
        <p class="lead">
          <%= pageDescription %>
        </p>
        <p class="text-info">
          <small><i class="bi bi-info-circle-fill align-text-bottom"></i> <%= bookTitle %> Table Of Contents, <% if(currentSort == 'story'){ %> entries ordered to tell a story. <% }else{ %> showing latest entries first. <% } %></small>
        </p>
      </div>
    </div>






    <div class="container">
      <div class="row my-3 mx-1">
       <div class="col-12 my-2 bg-dark rounded shadow">
         <ul class="nav nav-pills justify-content-end">
           <li class="nav-item">
             <a class="nav-link text-warning" aria-current="page" href="/book/<%= bookName %>/<%= defaultSort %>"><i class="bi bi-book align-text-bottom"></i> Show Book Home</a>
           </li>
            <% if(currentSort == 'story'){ %>
            <li class="nav-item">
              <a class="nav-link text-warning" href="/book/<%= bookName %>/toc/latest"><i class="bi bi-sort-numeric-down-alt align-text-bottom"></i> Show Latest First</a>
            </li>
            <% }else{ %>
            <li class="nav-item">
              <a class="nav-link text-warning" href="/book/<%= bookName %>/toc/story"><i class="bi bi-sort-numeric-down align-text-bottom"></i> Show Default Order</a>
            </li>
            <% } %>
          </ul>
       </div>
      </div>
    </div>





  <main class="container">
      <% posts.forEach(function(post,index){ %>
        <a name="<%= post.id %>"></a>
        <div class="row mb-5 pt-3 rounded bg-dark shadow mx-1">
        <div class="col-12 col-md-5 col-lg-3">

          <div class=" mb-3">
          <% if(post.image){ %><a href="/read/<%= post.bookName %>/<%= post.number %>"><img src="/image/sm-<%= post.image %>" class="card-img-top mb-2" alt="<%= post.title %>"></a><% } %>
          <% if(post.images.length && post.images.filter(i=>!i.url.startsWith('yid-')).length ){ %>
          <div class="mt-3 mb-3">
            <small class="d-block text-muted mb-1">Images</small>
            <% post.images.filter(i=>!i.url.startsWith('yid-')).forEach(function(image,index){ %>
              <a href="/image/<%= image.url %>"><img src="/image/<%= image.url %>" alt="<%= image.title %>" title="<%= image.title %>" style="width:64px; height: auto;" class="img-thumbnail bg-dark border-secondary"></a>
            <% }); %>
          </div>
          <% } %>
        </div>

        </div>
        <div class="col-12 col-md-7 col-lg-9 text-light pb-3">
          <h5 class="mb-1"><a href="/read/<%= post.bookName %>/<%= post.number %>" class="text-light text-decoration-none">#<%= post.number %>: <%= post.title %></a></h5>
          <small class="mb-3 d-inline-block text-muted"><%= post.timestamp %></small>
          <p class="mb-1 small fw-light"><%= post.text %></p>

          <div class="py-2">
          <% if(post.audio){ %><a href="/audio/<%= post.audio %>" class="text-warning d-inline-block me-3">Listen</a><% } %>
          <a href="/read/<%= post.bookName %>/<%= post.number %>" class="text-warning d-inline-block me-3">View</a>
          </div>

          <% if(post.links.length){ %>
          <div class="py-2">
            <small class="d-block text-muted mb-1">Content Links</small>
            <ul class="list-unstyled">
            <% post.links.forEach(function(link,index){ %>
              <li>
                <a href="<%= link.url %>" class="text-muted small"><%= link.title %></a> <small class="text-muted">(<%= link.hostname %>)</small>
              </li>
            <% }); %>
          </ul>
          </div>
          <% } %>



        </div>
      </div>
      <% }); %>
  </main><!-- /.container -->

  <%- include('partials/footer.html', {}); %>
  <%- include('partials/foot.html', {}); %>

  </body>
</html>
